{
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "project": "./tsconfig.json"
  },

  "plugins": [
    "@typescript-eslint",
    "jsdoc",
    "sonarjs",
    "security",
    "promise",
    "unicorn",
    "eslint-comments",
    "optimize-regex",
    "no-use-extend-native",
    "simple-import-sort",
    "prettier"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jsdoc/recommended",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:optimize-regex/recommended",
    "plugin:no-use-extend-native/recommended",
    "eslint-config-prettier",
    "prettier"
  ],

  "rules": {
    "prettier/prettier": "error",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",

    "security/detect-non-literal-fs-filename": "off",
    "security/detect-object-injection": "off",

    "@typescript-eslint/no-unsafe-assignment": "error",
    "@typescript-eslint/no-empty-interface": ["error", { "allowSingleExtends": true }]
  }
}
