.editorconfig
.gitattributes
.git
.idea
.DS_Store
.gitignore
.github
.eslintrc
.nyc_output
coverage/
tools/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.dependabot
.clinic

media
sample-directory
test

README.md

package-lock.json
